.dropdown {
	display: inline;
	float: right;
	select {
		margin-bottom: 50px;
	}
	
	p {
		font-weight: bold;
		font-size: 100%;}
}

.header {
	img {
		width: 100vw;

	}
	h1 {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		top: -120px;
		color: white;
		background-color: rgba(255,255,255,0.3);
		padding: 10px;

	}
}

.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	ul {
		margin: 0px;
		vertical-align: middle;
		padding: 10px;
	}
	li {
		list-style-type: none;
		display: inline;
		font-size: 150%;
		margin: 0 5px;
		vertical-align: middle;
	}
	overflow: hidden;
	background-color: #123456;
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	margin: 0px;


}